* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ecf0f1;
}

.main_nav {
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_nav h1 {
    color: white;
    margin-bottom: 8px;
}

.main_nav h3 {
    color: white;
    margin-bottom: 50px;
}

.btn {
    border: 1px solid lightblue;
    padding: 10px 30px;
    color: lightblue;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

.btn:hover {
    color: lightblue;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://fr-assets.lightspeedhq.com/img/2019/08/815a8b3e-298fd3ea-margherita-turrin-yuqeo7ajela-unsplash-min.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.error {
    color: #e74c3c;
    text-align: center;
    display: none;
}

.container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.2rem 0.5rem;
    background-color: #fff;
    width: 90%;
    position: absolute;
    bottom: 55%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.position {
    position: fixed;
    bottom: 0;
    margin-top: 90px;
    background-color: #ededed;
}

#displayCategories {
    display: none;
    margin-bottom: 150px;
}

#displayResult {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    background-color: white;
    width: 85%;
    min-height: 200px;
    margin-top: 15px;
    margin-bottom: 150px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.title_ingrédient {
    margin: 20px 0;
    text-align: center
}

.img {
    max-width: 100%;
}

.ingredient_section, .recipe_section {
    margin-top: 50px;
    text-align: center;
}

.container .fa-microphone, .container .fa-microphone .listening {
    color: #3498db;
    animation: blink 2s infinite;
}

#recipe_result div h5, #recipe_result div p {
    text-align: center;
}

.focusOnRead {
    padding: 3px 0px;
    background-color: lightblue;
    font-weight: bold;
}

.command {
    font-size: 16px;
    margin-top: 1rem;
}

.title_command {
    font-size: 16px;
    margin-top: 1rem;
}

ul {
    list-style: none;
    margin-top: 1rem;
}

ul li {
    font-size: 16px;
}

.popup {
    font-size: 12px;
    color: #747474;
    margin-top: 2rem;
}

.info {
    font-size: 12px;
    color: #747474;
    position: fixed;
    bottom: 10px;
    text-align: center;
}

.info a {
    text-decoration: none;
    font-size: 14px !important;
    color: #3498db;
}

.image_rslt {
    transition: all 1s ease;
}

.scale {
    transform: scale(1.25);
}

/****** category cards ********/

.title_category {
    font-size: 26px;
    text-align: center;
    margin: 20px 0;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 30vh;
}

.card {
    width: 230px;
    margin: 15px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px;
    height: 280px;
}

.card img {
    width: 100%;
    min-height: 100px;
}

.card h4 {
    margin-top: 20px;
    font-size: 16px;
}

/******* search form ***********/

.search_container {
    width: 66%;
    height: 25vh;
    border: 1px solid #ededed;
    margin: 0 auto;
    text-align: center;
    box-shadow: 9px 10px 18px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 5%;
    bottom: 10%;
}

.search_recipe_form {
    width: 75%;
    margin: 15px auto;
}

.search_recipe_form h5 {
    font-size: 22px;
    margin-bottom: 15px;
}

.search_recipe_form input {
    width: 100%;
    height: 34px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.search_recipe_form button {
    padding: 12px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 9px 10px 18px 4px rgba(0, 0, 0, 0.2);
    background-color: #3498db;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.1s all;
}

.title_ingred {
    margin: 20px 0 10px 0;
    text-align: center;
}

.recipe_result {
    border: 1px solid lightgrey;
    box-shadow: 9px 10px 18px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 90%;
    min-height: 150vh;
}

.message_flip {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    font-style: italic;
}

.options_search {
    display: none;
}

.options_btn {
    padding: 4px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.1s all;
}

@media screen and (max-width: 700px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    #displayResult {
        width: 95%;
    }
    .container {
        width: 100%;
    }
}

@keyframes blink {
    to {
        color: #000;
        transform: scale(1.02);
    }
}